.contact-grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 100px;
    width: 1000px;
    margin: 4% 0;
}

.company-metadata-sidebar-wrapper > .logo img{
    width: 100%;
    margin-bottom: 20px;
}

.company-metadata-sidebar-wrapper > .company-detail-wrapper{
    font-family: "Ubuntu Condensed",sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 30px 0;
    font-size: 1em;
    text-align: right;
}

.company-metadata-sidebar-wrapper > .company-detail-wrapper i{
 color: #cea135;
 
}