.form > .form-group{
    margin: 30px 0 30px 0;
}

.form > .form-group input{
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    border: none;
    border-bottom: 3px solid #11122b;
    width: 100%;
    display: block;
    transition: all 0.3s;
}

.form > .form-group input:focus{
    outline: none;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #cea135;
}

.form textarea{
    margin-top: 20px;
    width: 100%;
    height: 250px;
    border-radius: 3px;
    border: 3px solid black;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    transition: all 0.3s;
}

.form > .form-group textarea:focus {
    outline: none;
    box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.1);
    border: 3px solid #cea135;
}

.form > .form-group label{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0.7rem 2rem 0 0;
    display: block;
    transition: all 0.3s;
    color: #cea135;
    visibility: hidden;
    opacity: 0;
}

.form > .form-group input::-webkit-input-placeholder, .form > .form-group textarea::-webkit-input-placeholder{
    color: #11122b;
}
.form > .form-group input:focus::-webkit-input-placeholder, .form > .form-group textarea:focus::-webkit-input-placeholder{
    color: transparent;
}

.form > .form-group input:focus + label, .form > .form-group textarea:focus + label{
    visibility: visible;
    opacity: 1;
    transform: translateY(1rem);
}
